CONFIG_GATOR=y

# CONFIG_RKP_KDP is not set
# CONFIG_RKP_NS_PROT is not set

# streamline
CONFIG_PROFILING=y
CONFIG_PERF_EVENTS=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_LOCAL_TIMERS=y