# sdm710_sec_a8sqlte_kor_single_defconfig

CONFIG_SEC_A8SQLTE_PROJECT=y
CONFIG_MACH_A8SQLTE_KOR_SINGLE=y

# QCA Wi-Fi feature
CONFIG_QCA_CLD_WLAN=y
CONFIG_QCACLD_WLAN_LFR2=y
CONFIG_QCACLD_WLAN_LFR3=y
CONFIG_QCOM_TDLS=y
CONFIG_QCACLD_FEATURE_METERING=y
CONFIG_QCACLD_FEATURE_GREEN_AP=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_QCOM_LTE_COEX=y
CONFIG_WLAN_FEATURE_LPSS=y
CONFIG_QCACLD_FEATURE_NAN=y
CONFIG_WLAN_FEATURE_NAN_DATAPATH=y
CONFIG_MPC_UT_FRAMEWORK=y
CONFIG_WLAN_OFFLOAD_PACKETS=y
CONFIG_WLAN_SYNC_TSF=y
CONFIG_WLAN_FEATURE_MEMDUMP=y
CONFIG_WLAN_FEATURE_DISA=y
CONFIG_WLAN_FASTPATH=y
CONFIG_WLAN_NAPI=y
CONFIG_WLAN_TX_FLOW_CONTROL_V2=y
CONFIG_LFR_SUBNET_DETECTION=y
CONFIG_MCC_TO_SCC_SWITCH=y
CONFIG_WLAN_LRO=y
CONFIG_ICNSS=y
CONFIG_CNSS_UTILS=y
# CONFIG_FORCE_ALLOC_FROM_DMA_ZONE is not set
CONFIG_QCACLD_FEATURE_GREEN_AP=y
CONFIG_WCNSS_MEM_PRE_ALLOC=y

# input
CONFIG_TOUCHSCREEN_ZINITIX_ZT75XX=y
CONFIG_TOUCHSCREEN_SYNAPTICS_TS_TD4300=y
CONFIG_TOUCHSCREEN_NOVATEK_NT36672=y

# PM
CONFIG_REGULATOR_S2MPB03=y

# display
CONFIG_PANEL_NT36672A_BS063YPM_FHD=y
CONFIG_PANEL_NT36672A_B6P064YQ5LP_FHD=y

#CONFIG_PANEL_TD4300_BS055FHM_FHD=y
CONFIG_BLIC_ISL98611=y

#CONFIG_PANEL_S6E3FA7_AMS628RF01_FHD=y
#CONFIG_SUPPORT_POC_FLASH=n

#MUIC configs
CONFIG_MFD_CORE=y
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_VBUS_NOTIFIER=y
CONFIG_VBUS_NOTIFIER_WORK=y
CONFIG_MUIC_HV=y
CONFIG_HICCUP_CHARGER=y

#MUIC-SM5705
CONFIG_MFD_SM5705=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_MUIC_UNIVERSAL_SM5705=y
CONFIG_MUIC_UNIVERSAL_SM5705_AFC=y
CONFIG_MUIC_SM5705_SWITCH_CONTROL_GPIO=y
CONFIG_MUIC_PINCTRL=y
# CONFIG_MUIC_UNIVERSAL_MULTI_SUPPORT is not set
# CONFIG_MUIC_SUPPORT_RUSTPROOF is not set

#CCIC configs
CONFIG_CCIC_NOTIFIER=y
CONFIG_CCIC_S2MM005=y
CONFIG_CCIC_ALTERNATE_MODE=y
CONFIG_CCIC_LPM_ENABLE=y
CONFIG_CCIC_S2MM005_ANALOG_AUDIO=y
# CONFIG_SEC_DISPLAYPORT is not set

# BATTERY configs
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_V2=y
CONFIG_BATTERY_NOTIFIER=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SWELLING=y
CONFIG_CHARGER_SM5705=y
CONFIG_FUELGAUGE_SM5705=y
# CONFIG_AFC_CURR_CONTROL_BY_TEMP=y
CONFIG_BATTERY_AGE_FORECAST=y
# CONFIG_UPDATE_BATTERY_DATA is not set
CONFIG_BATTERY_CISD=y

# NFC & eSE
CONFIG_NFC_PN547=y
CONFIG_SEC_NFC_LOGGER=y

# TDMB
CONFIG_TDMB=y
CONFIG_TDMB_VENDOR_FCI=y
CONFIG_TDMB_FC8080=y
CONFIG_TDMB_SPI=y
CONFIG_TDMB_QUALCOMM=y
CONFIG_TDMB_XTAL_FREQ=y

# Audio
CONFIG_SND_SOC_DBMDX=y
CONFIG_SND_SOC_DBMDX_SND_CAPTURE=y
CONFIG_SND_SOC_TFA9872=y

#Camera
CONFIG_LEDS_SM5705=y
CONFIG_LEDS_SEPARATE_PREFLASH=y
#CONFIG_SAMSUNG_OIS_RUMBA_S4=y
#CONFIG_SAMSUNG_OIS_RUMBA_S6=y
CONFIG_DISABLE_OIS_SDM710=y
CONFIG_SAMSUNG_FRONT_EEPROM=y
CONFIG_CAMERA_SYSFS_V2=y
#CONFIG_SAMSUNG_SECURE_CAMERA=y
CONFIG_SAMSUNG_MULTI_CAMERA=y
CONFIG_CAMERA_DYNAMIC_MIPI=y
CONFIG_CAMERA_FRS_DRAM_TEST=y
CONFIG_USE_CAMERA_HW_BIG_DATA=y
CONFIG_CAMERA_SSM_I2C_ENV=y
CONFIG_CAM_EEPROM_READ_RETRY=y

# Sensor
CONFIG_SENSORS=y
CONFIG_SENSORS_SSC=y
CONFIG_ADSP_FACTORY=y
CONFIG_LSM6DSM_FACTORY=y
CONFIG_AK09918_FACTORY=y
CONFIG_VCNL36863_FACTORY=y
CONFIG_SUPPORT_PROX_AUTO_CAL=y

# Grip Sensor
CONFIG_SENSORS_A96T3X6=y

# Finger print sensor
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_ET5XX=y
CONFIG_SENSORS_FP_SPI_NUMBER=15
CONFIG_SENSORS_FP_SPI_GPIO_START=81
CONFIG_SENSORS_FP_SPI_GPIO_END=84

#Motor
CONFIG_LEDS_QPNP_HAPTICS=y
CONFIG_MSM_VIBRATOR=y

#MPTCP
CONFIG_MPTCP=y 
CONFIG_SAMSUNG_MPTCP=y 
CONFIG_TCP_CONG_LIA=y
CONFIG_TCP_CONG_OLIA=y
CONFIG_TCP_CONG_WVEGAS=y
CONFIG_MPTCP_FULLMESH=y
CONFIG_MPTCP_NDIFFPORTS=y
CONFIG_MPTCP_BINDER=y
CONFIG_MPTCP_ROUNDROBIN=y
